@charset "utf-8";
/* CSS Document */

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 2rem;
  color: #890620;
 background-color: #ffffff;
} 

header li a:hover,
header .menu-btn:hover {
  text-decoration:underline;
}

header .logo{
  display: block;
  float: left;
  padding: 15px 0 0 15px;
  max-width: 180px; 
  height: 48px;
}

/* menu */

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
}

header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 10px;
}

header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (min-width: 1000px) {
  header li {
    float: left;
  }
  header li a {
    padding: 20px 30px;
	
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}
